.container{
    display: grid;
    grid-template-columns: repeat(2, 80px);
    align-content: start;
    column-gap: 10px;
    row-gap: 9px;
}

.label{
    color: #21092F;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    grid-column: 1/3;
}

.input{
    width: 80px;
    height: 45px;
    padding: 0px 16px;
    border-radius: 8px;
    border: 1px solid #DFDEE0;
    background-color: #FFF;
    color: #21092F;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input::placeholder{
    color: rgba(33, 9, 47, 0.25);
}

.input:focus{
    outline: none;
    border: 1px solid #21092F;
}

.input:hover{
    border: 1px solid #21092F;
}

.errorMessage{
    display: none;
    color: #FF5050;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    grid-column: 1/3;
}

@media(max-width: 870px){
    .container{
        column-gap: 8px;
    }
}
