.container{
    width: 30%;
    height: 110vh;
    background-color: #21092F;
    position: relative;
    background-image: url('./images/bg-main-desktop.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.creditCardFront{
    transform: rotate(0deg);
    width: 447px;
    height: 245px;    
    position: absolute;
    z-index: var(--even-closer);
    top: 128px;
    right: -120px;
    padding: 28px 32px;
    display: grid;
    grid-template-columns: 145px 1fr;
    row-gap: 25.5px;
    border-radius: 10px;
    background-image: url('./images/bg-card-front.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 0.2s linear, height 0.2s linear, top 0.2s linear, left 0.2s linear, right 0.2s linear, transform 0.6s linear; 
}


.cardNumber{
    grid-column: 1/3;
    grid-row: 2/3;
    color: #FFF;
    font-family: var(--font);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.422px;
}

.cardOwner{
    font-family: var(--font);
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 2px;
    grid-column: 1/2;
    grid-row: 3/4;
}

.cardDate{
    font-family: var(--font);
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 2px;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: flex-end;
}

.brand{
    height: 47px;
    object-fit: contain;
    margin-bottom: 39px;
}

.creditCardBack{
    transform: rotate(0deg);
    width: 447px;
    height: 245px;
    border-radius: 10px;
    position: absolute;
    z-index: var(--closest);
    top: 420px;
    right: -200px;
    background-image: url('./images/bg-card-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--font);
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 2px;
    transition: width 0.2s linear, height 0.2s linear, top 0.2s linear, left 0.2s linear, right 0.2s linear, transform 0.4s linear; 
}

.cardCVC{
    position: absolute;
    top: 111px;
    right: 57px;
    color: white;
    font-family: var(--font);
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 2px;
}

@media(max-width: 1160px){
    .creditCardBack{
        right: -120px;
    }
}

@media(max-width: 1120px){
    .creditCardFront, .creditCardBack{
        width: 295px;
        height: 156.20805px;
        border-radius: 6px;
        transform: rotate(360deg);
    }

    .creditCardBack{
        top: 300px;
        right: -40px;
    }

    .creditCardFront{
        grid-template-columns: 89px 1fr;
        padding: 17px 19px;
        row-gap: 17px;
        top: 400px;
        right: -100px;
    }
    .brand{
        height: 30px;
        margin-bottom: 20px;
    }

    .cardNumber{
        font-size: 1.125rem;
        white-space: nowrap;;
    }
    .cardOwner, .cardCVC{
        font-size: 0.5625rem;
        white-space: nowrap;
    }

    .cardCVC{
        top: 69.64px;   
        right: 30px;
    }

}

@media(max-width: 870px){
    .container{
        background-image: url('./images/bg-main-mobile.png');
        background-position: right;
        width: 100%;
        height: 240px;
        flex-shrink: 0;
    }

    .creditCardFront{
        top: 120.5px;
        left: 0;
        right: 0;
        transform: translateX(-30px);
        margin: auto;
    }

    .creditCardBack{
        top: 32px;
        left: 0;
        right: 0;
        transform: translateX(30px);
        margin: auto;
    }
}

@media(max-width: 380px){
    .creditCardFront{
        transform: translateX(-10px);

    }

    .creditCardBack{
        transform: translateX(10px);
    }
}