.container{
    width: 191px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 9px;
    position: relative;
}

.label{
    color: var(--deep-violet, #21092F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.input{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFDEE0;
    width: 100%;
    height: 45px;
    padding: 0px 16px;
    border-radius: 8px;
    color: #21092F;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input::placeholder{
    color: rgba(33, 9, 47, 0.25);
}

.input:focus{
    outline: none;
    border: 1px solid #21092F;
}

.input:hover{
    border: 1px solid #21092F;
}

.errorMessage{
    display: none;
    font-family: var(--font);
    font-size: 0.75rem;
    font-weight: 500;
    color: #FF5050;
}