.container{
    width: 70%;
    height: 100vh;
    background-color: white;
    display: flex;
    gap: 221px;
    justify-content: center;
    align-items: center;
}


@media(max-width: 870px){
    .container{
        width: 100%;
        align-items: flex-start;
        padding-top: 91px
    }
}
